{% extends 'base.html' %}
{% load cache %}

{% block header-left %}
{% block header-right %}
{% block footer-right %}
articles
{% endblock %}
{% endblock %}
{% endblock %}

{% block h1 %}{% block title %}{{ obj.title }} - {{ obj.published|date:'Y.n.j' }}{% endblock %}{% endblock %}
{% block articles-class %}here{% endblock %}

{% block content %}
{% cache ONE_YEAR_TIMEOUT obj view.request.path %}
<article>
  <section>
    {{ obj.body|safe }}
  </section>
</article>
{% endcache %}

<div class="section-title">comments</div>
<section>
{% cache ONE_YEAR_TIMEOUT obj view.request.path 'comments' %}
  {% for c in comments %}
  <section class="comment">
    <hgroup class="headers">
      <h2 class="{% if c.moderator %}moderator{% endif %}">
        {% if c.display_website %}
        <a href="{{ c.display_website }}">{{ c.display_name }}</a> says:
        {% else %}
        {{ c.display_name }} says:
        {% endif %}
      <h2>
    </hgroup>

    <p><em>Comment #{{ forloop.counter }} posted on {{ c.created_at|date:'Y.n.j \a\t f a e' }}</em></p>

    {% if c.deleted %}
    [deleted]
    {% else %}
    {{ c.html_content|safe }}
    {% endif %}
  </section>
  {% endfor %}
{% endcache %}

  <section class="comment-form">
    <hgroup class="headers">
      <h2>Leave a comment:<h2>
    </hgroup>

    <div id="token" style="display: none;">{{ csrf_token }}</div>

    <form method="post">
      <input type="hidden" id="id_csrfmiddlewaretoken" name="csrfmiddlewaretoken">

      <table>
        {{ form.as_table }}
      </table>

      <div class="submit-row"><input type="submit" value="Submit"></div>
    </form>

    <script>
      $('#id_csrfmiddlewaretoken').val($('#token').text());
      $('#id_not_a_you_know_what').val('');
    </script>

    <noscript>
      If you have javascript disabled, you probably know a thing or two about
      web pages.  In order to submit this comment form, please copy the text
      from the element with id "token" into the form field with id
      "id_csrfmiddlewaretoken".  Also, delete the value in the form field with
      id "id_not_a_you_know_what" (this is a honeypot field).
    </noscript>
  </section>
</section>
{% endblock %}
