{% extends 'base.html' %}
{% load cache %}

{% block content %}
{% cache ONE_YEAR_TIMEOUT obj view.request.path %}
<article class="uk-article">
  <h1 class="uk-heading-primary">{{ obj.title }}</h1>

  <section>
    {{ obj.body|safe }}
  </section>
</article>
{% endcache %}

{#<section>#}
{#  <section>#}
{#    <h2>Leave a comment:<h2>#}

{#    <div id="token" style="display: none;">{{ csrf_token }}</div>#}

{#    <form method="post">#}
{#      <input type="hidden" id="id_csrfmiddlewaretoken" name="csrfmiddlewaretoken">#}

{#      <table>#}
{#        {{ form.as_table }}#}
{#      </table>#}

{#      <div><input type="submit" value="Submit"></div>#}
{#    </form>#}

{#    <script>#}
{#      $('#id_csrfmiddlewaretoken').val($('#token').text());#}
{#      $('#id_not_a_you_know_what').val('');#}
{#    </script>#}

{#    <noscript>#}
{#      If you have javascript disabled, you probably know a thing or two about#}
{#      web pages.  In order to submit this comment form, please copy the text#}
{#      from the element with id "token" into the form field with id#}
{#      "id_csrfmiddlewaretoken".  Also, delete the value in the form field with#}
{#      id "id_not_a_you_know_what" (this is a honeypot field).#}
{#    </noscript>#}
{#  </section>#}

{#{% cache ONE_YEAR_TIMEOUT obj view.request.path 'comments' %}#}
{#  {% for c in comments %}#}
{#  <section>#}
{#    <h2 class="{% if c.moderator %}moderator{% endif %}">#}
{#      {% if c.display_website %}#}
{#      <a href="{{ c.display_website }}">{{ c.display_name }}</a> says:#}
{#      {% else %}#}
{#      {{ c.display_name }} says:#}
{#      {% endif %}#}
{#    <h2>#}

{#    <p><em>Comment #{{ forloop.counter }} posted on {{ c.created_at|date:'Y.n.j \a\t f a e' }}</em></p>#}

{#    {% if c.deleted %}#}
{#    [deleted]#}
{#    {% else %}#}
{#    {{ c.html_content|safe }}#}
{#    {% endif %}#}
{#  </section>#}
{#  {% endfor %}#}
{#{% endcache %}#}
{#</section>#}
{% endblock %}
