// Custom variables and variable overwrites
$base-code-font-family: 'Computer Modern Typewriter', Courier, monospace;
$global-font-family: 'Computer Modern Serif', serif;
$global-font-size: 18px;

$logo-font-family: $base-code-font-family;
$navbar-nav-item-font-family: $base-code-font-family;
$logo-font-size: 30px;
$navbar-nav-item-font-size: 22px;
$nav-primary-item-font-size: 30px;

$global-primary-background: #7cf;
$global-secondary-background: #fff;
$global-color: #333;
$global-muted-color: mix($global-color, $global-primary-background, 40%);
$global-emphasis-color: #111;

$navbar-nav-item-color: $global-muted-color;
$navbar-nav-item-hover-color: $global-color;
$navbar-nav-item-onclick-color: $global-emphasis-color;
$navbar-nav-item-active-color: $global-emphasis-color;

$nav-primary-item-color: mix($global-color, $global-secondary-background, 50%);
$nav-primary-item-hover-color: $global-color;
$nav-primary-item-active-color: $global-emphasis-color;

$container-small-max-width: 800px;

// Import default variables and available mixins
@import "uikit/scss/variables-theme.scss";
@import "uikit/scss/mixins-theme.scss";

$heading-primary-font-size-m: $heading-primary-font-size-m * 0.5;
$heading-primary-font-size: $heading-primary-font-size-m;
$base-h2-font-size: $base-h2-font-size * 0.8;
$base-h3-font-size: $base-h3-font-size * 0.85;

// Custom mixin overwrites
@mixin hook-navbar-container() {
  background: none;

  margin-left: auto;
  margin-right: auto;
  max-width: $container-small-max-width + 60px;

  padding: 10px 10px;
}

@mixin hook-nav-primary {
  font-family: $base-code-font-family;
}

// Import UIkit
@import "uikit/scss/uikit-theme.scss";
