@import "common.scss";

// Fonts
// --------------------------

@mixin font-monospace { font-family: monospace; }

$duration: 0.3s;

@mixin dotted-links {
  a {
    @include transitions(all $duration);

    text-decoration: none;
    border-bottom: 1px dotted;
    border-color: #777;

    &:hover { border-color: $clay-blue; }
  }
}

// Colors
// --------------------------

$fg: #363636;
$bg: #ddd;
$clay-blue: #116dc2;

// Other
// --------------------------
$main-width-max: rem-convert(50rem);

@mixin site-corners($radius: 4px) {
  @include rounded($radius);
}

@mixin content-shadow($radius: 4px) {
  @include site-corners($radius);
  @include shadow(lighten(black, 70%), 0, 3px, 3px);
}

// Styles
// --------------------------
html, body {
  @include font-monospace;
  @include dotted-links;

  font-size: 10pt;
  color: $fg;

  background: #eceae6 url(/static/bedge_grunge.png);

  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.page-header {
  @include clearfix;

  position: relative;
  margin-bottom: rem-convert(1rem);

  .left, .right { text-transform: uppercase; }
  .left { float: left; }
  .right { float: right; }
  .center {
    position: absolute;
    left: 50%;
    text-align: center;
    width: 130px;
    margin-left: -65px;
  }
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: rem-convert(.25rem);
}

section, article {
  font-weight: normal;
  margin: rem-convert(0 0 1rem 3.5rem);
}

p { margin: rem-convert(0 0 1rem 0); }

header {
  h1 { font-weight: normal; }
}

a {
  @include transitions(all $duration);

  text-decoration: none;
  cursor: pointer;
  color: $fg;

  &:hover { color: $clay-blue; }
}

div.main-container {
  margin: 0 auto;

  padding: rem-convert(1rem);

  max-width: $main-width-max;
}

nav {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li { display: inline; }
}

article section, section section {
  margin: 0;
  margin-bottom: inherit;

  > h2 { margin-left: rem-convert(-1.75rem); }
  > h2, > h3 { margin-bottom: rem-convert(.25rem); }
}

article hgroup, section hgroup {
  @include clearfix;

  margin-left: rem-convert(-1.75rem);
  margin-bottom: rem-convert(.25rem);
  h2, h3 { display: inline; }
}

article {
  img {
    @include content-shadow;
    margin: 0 auto;
    max-width: 100%;
  }
}

article, .comment {
  p code {
    /*&::before, &::after { content: '`' }*/
    font-weight: bold;
  }

  pre {
    @include content-shadow;

    padding: rem-convert(0.75rem);

    overflow-y: auto;

    color: $bg;
    background-color: lighten($fg, 5%);
  }

  code.sourceCode {
    span.co { color: #7f9f7f; }
    span.kw { color: #f0dfaf; font-weight: bold; }
    span.st { color: #cc9393; }
    span.dv { color: #8cd0d3; }
    span.dt { color: #dfdfbf; font-weight: bold; }
    span.ch { color: #dfdfbf; }
  }
}

.comment > hgroup > h2.moderator {
  color: #116dc2;
  &::after {
    content: " (Moderator)";
  }
}

.comment-form {
  th {
    text-align: left;
    vertical-align: text-top;
  }
  textarea {
    width: 100%;
  }
  input[type=text], input[type=url] {
    min-width: 200px;
  }
  .submit-row {
    text-align: right;
  }

  ul.errorlist {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      color: red;
    }
  }
}

footer {
  @include clearfix;

  position: relative;

  .left, .right { text-transform: uppercase; }
  .left { float: left; }
  .right { float: right; }
  .center {
    position: absolute;
    left: 50%;
    text-align: center;
    width: 130px;
    margin-left: -65px;
  }

}

@media screen and (max-width: 700px) {
  /*.page-header .center { display: none; }*/
  footer .center { display: none; }
}
