{% extends 'base.html' %}

{% block header-left %}
{% block header-right %}
{% block footer-right %}
about
{% endblock %}
{% endblock %}
{% endblock %}

{% block h1 %}<a href="/">thought.place</a> - a blog by David Sanders{% endblock %}
{% block title %}a blog by David Sanders{% endblock %}
{% block about-class %}here{% endblock %}

{% block article-content %}
<p>
Hey there.  You've found the personal blog of David Sanders, a software
developer in Boulder, Colorado.  Herein, you'll find the following sections:
</p>

<p>
<strong><a href="/">about</a></strong> &mdash; Landing page<br/>
<strong><a href="/articles/">articles</a></strong> &mdash; Silly things you probably already know<br/>
<strong><a href="/projects/">projects</a></strong> &mdash; Highlights from my github account
</p>

<p>
If you're clever, you might find some other stuff too &mdash; maybe a way to
break into my server if I was being dumb when I wrote this site.  While you're
busy figuring that out, take a look at my articles.
</p>

<p>
If you'd like to contact me, email me at
0x646176657371756540676d61696c2e636f6d.
</p>
{% endblock %}
