{% extends 'base.html' %}

{% block container-class %}uk-container-xsmall{% endblock %}

{% block article-content %}
<div class="uk-text-center uk-margin-small-top">
  <p class="uk-margin-remove-bottom">
  Thoughts about technology and other things by this guy:
  </p>

  <img class="uk-align-center uk-border-rounded" width="230" height="230" src="https://s.gravatar.com/avatar/c991993ee238fbae918f93f46edac3cd?s=460"/>

  <p class="uk-margin-medium-top">
  Contact:<br/>
  0x646176657371756540676d61696c2e636f6d
  </p>
</div>
{% endblock %}
