{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <title>thought.place</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="thought.place | a blog by David Sanders">
  <meta name="keywords" content="Web Development, Software Engineering, Computer Science, Python, Haskell, Boulder, Denver, Colorado">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.rawgit.com/davesque/computer-modern-web-font/master/fonts.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

  <!-- UIkit CSS -->
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'site.scss' %}" />
  {% endcompress %}
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />-->

  <!-- jQuery required for UIkit -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
</head>

<body>
  <div class="uk-offcanvas-content">
    <div class="uk-margin-medium-bottom uk-background-primary">
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/" class="uk-navbar-item uk-logo">thought.place</a>
        </div>

        <div class="uk-navbar-right">
          {% url 'about' as about_url %}
          {% url 'post_list' as post_list_url %}
          {% url 'projects' as projects_url %}

          <ul class="uk-navbar-nav">
            <li class="uk-visible@s {% if request.path == '/' %}uk-active{% endif %}"><a href="{{ about_url }}">about</a></li>
            <li class="uk-visible@s {% if post_list_url in request.path %}uk-active{% endif %}"><a href="{{ post_list_url }}">articles</a></li>
            <li class="uk-visible@s {% if projects_url in request.path %}uk-active{% endif %}"><a href="{{ projects_url }}">projects</a></li>

            <a href="#offcanvas-nav-primary" class="uk-navbar-toggle uk-hidden@s" type="button" uk-navbar-toggle-icon uk-toggle></a>
          </ul>

          <div id="mobile-nav" uk-modal="center: true">
            <div class="uk-modal-dialog uk-modal-body">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <ul class="uk-nav uk-nav-primary uk-nav-center">
                <li class="{% if request.path == '/' %}uk-active{% endif %}"><a href="{{ about_url }}">About</a></li>
                <li class="{% if post_list_url in request.path %}uk-active{% endif %}"><a href="{{ post_list_url }}">Articles</a></li>
                <li class="{% if projects_url in request.path %}uk-active{% endif %}"><a href="{{ projects_url }}">Projects</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="uk-container {% block container-class %}uk-container-small{% endblock %}">
      {% block content %}
      <article class="uk-article {% block article-class %}{% endblock %}">
        {% block article-content %}{% endblock %}
      </article>
      {% endblock %}

      <footer class="uk-text-center uk-margin-large-bottom">&copy; 2011-2017 David Sanders</footer>
    </div>

    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar uk-box-shadow-large uk-flex uk-flex-column">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
          <li class="{% if request.path == '/' %}uk-active{% endif %}"><a href="{{ about_url }}">About</a></li>
          <li class="{% if post_list_url in request.path %}uk-active{% endif %}"><a href="{{ post_list_url }}">Articles</a></li>
          <li class="{% if projects_url in request.path %}uk-active{% endif %}"><a href="{{ projects_url }}">Projects</a></li>
        </ul>
      </div>
    </div>

  </div>
</body>
