{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
  <title>thought.place - {% block title %}{% endblock %}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="thought.place | a blog by David Sanders">
  <meta name="keywords" content="Web Development, Software Engineering, Computer Science, Python, Haskell, Boulder, Denver, Colorado">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />

  <!-- jQuery is required -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'site.scss' %}" />
  {% endcompress %}

  {% compress js %}
  <script type="text/javascript" src="{% static 'charlesdavidsanders.js' %}"></script>
  {% endcompress %}
</head>

<body>
  <div class="main-container">
    <header>
      <div class="page-header">
        <div class="left">{% block header-left %}{% endblock %}</div>
        <div class="center"><a href="/">thought.place</a></div>
        <div class="right">{% block header-right %}{% endblock %}</div>
      </div>

      <div class="section-title">name</div>
      <section><h1>{% block h1 %}{% endblock %}</h1></section>

      <div class="section-title">see also</div>
      <section>
        <nav>
          <ol>
            <li class="{% block about-class %}{% endblock %}"><a href="{% url 'about' %}">about</a>,</li>
            <li class="{% block articles-class %}{% endblock %}"><a href="{% url 'post_list' %}">articles</a>,</li>
            <li class="{% block projects-class %}{% endblock %}"><a href="{% url 'projects' %}">projects</a></li>
          </ol>
        </nav>
      </section>
    </header>

    <div class="section-title">description</div>
    {% block content %}
    <article>
      {% block article-content %}{% endblock %}
    </article>
    {% endblock %}

    <footer>
      <div class="left">&copy; 2011-2017 David Sanders</div>
      <div class="center"><a href="/">thought.place</a></div>
      <div class="right">{% block footer-right %}{% endblock %}</div>
    </footer>
  </div>
</body>
