{% extends 'base.html' %}

{% block article-content %}
<section>
  <div uk-grid>
    <div class="uk-width-expand" uk-leader><a class="uk-text-large uk-link-text" href="https://github.com/davesque/django-rest-framework-simplejwt">simple jwt</a></div>
    <div class="uk-text-large">python</div>
  </div>

  <p>A JSON Web Token auth plugin for the Django REST Framework.</p>
</section>

<section>
  <div uk-grid>
    <div class="uk-width-expand" uk-leader><a class="uk-text-large uk-link-text" href="https://github.com/davesque/s">s</a></div>
    <div class="uk-text-large">shell</div>
  </div>

  <p>A simple shell script manager.</p>
</section>

<section>
  <div uk-grid>
    <div class="uk-width-expand" uk-leader><a class="uk-text-large uk-link-text" href="https://github.com/davesque/go.py">go.py</a></div>
    <div class="uk-text-large">python</div>
  </div>

  <p>A text-based go game written in python.</p>
</section>

<section>
  <div uk-grid>
    <div class="uk-width-expand" uk-leader><a class="uk-text-large uk-link-text" href="https://github.com/davesque/gitfuse">gitfuse</a></div>
    <div class="uk-text-large">python</div>
  </div>

  <p>Easily mount git repositories as read-only file systems using FUSE.</p>
</section>

<section>
  <div uk-grid>
    <div class="uk-width-expand" uk-leader><a class="uk-text-large uk-link-text" href="https://github.com/davesque/thought.place">thought.place</a></div>
    <div class="uk-text-large">python</div>
  </div>

  <p>This website.</p>
</section>

<section>
  <a class="uk-text-large uk-link-text" href="https://github.com/davesque">etc, etc&hellip;</a>
</section>
{% endblock %}
