{% extends 'base.html' %}

{% block header-left %}
{% block header-right %}
{% block footer-right %}
projects
{% endblock %}
{% endblock %}
{% endblock %}

{% block h1 %}{% block title %}projects{% endblock %}{% endblock %}
{% block projects-class %}here{% endblock %}

{% block article-content %}
<section>
  <hgroup>
    <a href="https://github.com/davesque/nagari"><h2>nagari</h2> <h3>(Haskell)</h3></a>
  </hgroup>

  A simple parsing library written in Haskell.
</section>

<section>
  <hgroup>
    <a href="https://github.com/davesque/s"><h2>s</h2> <h3>(Shell)</h3></a>
  </hgroup>

  A simple shell script manager.
</section>

<section>
  <hgroup>
    <a href="https://github.com/davesque/go.py"><h2>go.py</h2> <h3>(Python)</h3></a>
  </hgroup>

  A text-based go game written in python.
</section>

<section>
  <hgroup>
    <a href="https://github.com/davesque/gitfuse"><h2>gitfuse</h2> <h3>(Python)</h3></a>
  </hgroup>

    Easily mount git repositories as read-only file systems using FUSE.
</section>

<section>
  <hgroup>
    <a href="https://github.com/davesque/thought.place"><h2>thought.place</h2> <h3>(Python)</h3></a>
  </hgroup>

    This website.
</section>

<section>
  <hgroup>
    <a href="https://github.com/davesque"><h2>etc, etc...</h2></a>
  </hgroup>
</section>
{% endblock %}
